#BUILD OBJECTS
bin/*
./cnautilus
cnautilus

#DATA FILES
data/*

#ENVIRONMENT FILES
py/*
.vscode
*.env
venv/*

#SCRIPTS
#scripts/*
*.sh

#OUTPUT FILES
*.json

./cnautilus
cnautilus

#DEBUG FILES
debug/*